Data Preparation

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .appName("CSV Import") \
    .getOrCreate()

file_path = "C:/Users/afili/Desktop/Uni/Mestrado/AASE/apartments_for_rent_classified_100K.csv"

df = spark.read.csv(file_path, header=True, inferSchema=True, sep=";")

# Especificando valores que devem ser tratados como NaN
na_values = ["NA", "null", "", " "]

from pyspark.sql.functions import col

null_count = df.filter(col('price').isNull()).count()
print(f"Número de valores nulos na coluna 'price': {null_count}")

# Remover as linhas onde 'price' é nulo
df = df.filter(col('price').isNotNull())

null_count = df.filter(col('price').isNull()).count()
print(f"Número de valores nulos na coluna 'price': {null_count}")

print(f"Número de linhas: {df.count()}")

Número de valores nulos na coluna 'price': 7
Número de valores nulos na coluna 'price': 0
Número de linhas: 99993

Demo da tabela e Mundança de tipos de colunas

In [5]:
df.show()

+----------+--------------------+--------------------+--------------------+---------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+--------------------+-------------+-----+--------+---------+---------+----------+
|        id|            category|               title|                body|amenities|bathrooms|bedrooms|currency|fee|has_photo|pets_allowed|price|price_display|price_type|square_feet|             address|     cityname|state|latitude|longitude|   source|      time|
+----------+--------------------+--------------------+--------------------+---------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+--------------------+-------------+-----+--------+---------+---------+----------+
|5668640009|housing/rent/apar...|One BR 507 & 509 ...|This unit is loca...|     null|        1|       1|     USD| No|Thumbnail|        Cats| 2195|       $2,195|   Monthly|        542|  507  509 Esplanade|Redondo Beach|   CA| 33.8520|-118.3759|RentLingo|1577360355|
|5668639818|housing/rent/apar...|Three BR 146 Loch...|This unit is loca...|     null|      1.5|       3|     USD| No|Thumbnail|   Cats,Dogs| 1250|       $1,250|   Monthly|       1500|     146 Lochview Dr| Newport News|   VA| 37.0867| -76.4941|RentLingo|1577360340|
|5668639686|housing/rent/apar...|Three BR 3101 Mor...|This unit is loca...|     null|        2|       3|     USD| No|Thumbnail|        None| 1395|       $1,395|   Monthly|       1650| 3101 Morningside Dr|      Raleigh|   NC| 35.8230| -78.6438|RentLingo|1577360332|
|5668639659|housing/rent/apar...|Two BR 209 Aegean...|This unit is loca...|     null|        1|       2|     USD| No|Thumbnail|   Cats,Dogs| 1600|       $1,600|   Monthly|        820|      209 Aegean Way|    Vacaville|   CA| 38.3622|-121.9712|RentLingo|1577360330|
|5668639374|housing/rent/apar...|One BR 4805 Marqu...|This unit is loca...|     null|        1|       1|     USD| No|Thumbnail|   Cats,Dogs|  975|         $975|   Monthly|        624|   4805 Marquette NE|  Albuquerque|   NM| 35.1038|-106.6110|RentLingo|1577360308|
|5668639368|housing/rent/apar...|Two BR 7801 Marbl...|This unit is loca...|     null|      1.5|       2|     USD| No|Thumbnail|   Cats,Dogs| 1250|       $1,250|   Monthly|        965|      7801 Marble NE|  Albuquerque|   NM| 35.1038|-106.6110|RentLingo|1577360308|
|5668638765|housing/rent/apar...|Two BR 5 Salt Mar...|This unit is loca...|     null|        2|       2|     USD| No|Thumbnail|        None| 1600|       $1,600|   Monthly|       1120|5 Salt Marsh Quay...|      Hampton|   VA| 37.0451| -76.3664|RentLingo|1577360261|
|5668638578|housing/rent/apar...|Two BR 11280 W. 2...|This unit is loca...|     null|        2|       2|     USD| No|Thumbnail|   Cats,Dogs| 1300|       $1,300|   Monthly|        947| 11280 W 20th Avenue|     Lakewood|   CO| 39.6894|-105.1119|RentLingo|1577360247|
|5668638476|housing/rent/apar...|Two BR 1427 Lewis...|This unit is loca...|     null|        1|       2|     USD| No|Thumbnail|        Dogs|  795|         $795|   Monthly|        600|       1427 Lewis St|   Charleston|   WV| 38.3454| -81.6219|RentLingo|1577360239|
|5668638122|housing/rent/apar...|Two BR 10201 Remm...|This unit is loca...|     null|        2|       2|     USD| No|Thumbnail|        None| 2150|       $2,150|   Monthly|       1005|    10201 Remmet Ave|   Chatsworth|   CA| 34.2551|-118.5976|RentLingo|1577360204|
|5668638015|housing/rent/apar...|Three BR 315 Witt...|This unit is loca...|     null|      2.5|       3|     USD| No|Thumbnail|        None| 1795|       $1,795|   Monthly|       1522|  315 Wittenridge CT|   Alpharetta|   GA| 34.0718| -84.2525|RentLingo|1577360196|
|5668637998|housing/rent/apar...|Two BR 39 Intrepi...|This unit is loca...|     null|        3|       2|     USD| No|Thumbnail|        None| 3195|       $3,195|   Monthly|       3077|39 Intrepid Cir U...|   Marblehead|   MA| 42.4982| -70.8647|RentLingo|1577360194|
|5668637809|housing/rent/apar...|Two BR 2537 North...|This unit is loca...|     null|        2|       2|     USD| No|Thumbnail|        None| 2395|       $2,395|   Monthly|        896|2537 North Capito...|   Washington|   DC| 38.9118| -77.0132|RentLingo|1577360182|
|5668637541|housing/rent/apar...|Four BR 6347 E. I...|This unit is loca...|     null|      3.5|       4|     USD| No|Thumbnail|        None| 7800|       $7,800|   Monthly|       4650|6347 E Ironwood D...|   Scottsdale|   AZ| 33.5783|-111.8902|RentLingo|1577360165|
|5668637528|housing/rent/apar...|Three BR 1502 Del...|This unit is loca...|     null|        1|       3|     USD| No|Thumbnail|        None|  720|         $720|   Monthly|        800|       1502 Delaware|         Ames|   IA| 42.0259| -93.6516|RentLingo|1577360164|
|5668636381|housing/rent/apar...|Two BR 10012 NE 1...|This unit is loca...|     null|      1.5|       2|     USD| No|Thumbnail|   Cats,Dogs| 2000|       $2,000|   Monthly|        872|10012 NE 122nd St...|     Kirkland|   WA| 47.7046|-122.1989|RentLingo|1577360105|
|5668636291|housing/rent/apar...|One BR 2447 Harry...|This unit is loca...|     null|        1|       1|     USD| No|Thumbnail|   Cats,Dogs|  729|         $729|   Monthly|        800|2447 Harry Wurzba...|  San Antonio|   TX| 29.4624| -98.5253|RentLingo|1577360099|
|5668635018|housing/rent/apar...|One BR 712 Villa ...|This unit is loca...|     null|        1|       1|     USD| No|Thumbnail|   Cats,Dogs| 1045|       $1,045|   Monthly|        700|       712 Villa Ave|   Villa Park|   IL| 41.8787| -87.9798|RentLingo|1577360021|
|5668634255|housing/rent/apar...|Three BR Ivy Plac...|This unit is loca...|     null|        3|       3|     USD| No|Thumbnail|   Cats,Dogs| 1800|       $1,800|   Monthly|       1500|Ivy Place 1201 Iv...|       Oxford|   MS| 34.3504| -89.5190|RentLingo|1577359971|
|5668633909|housing/rent/apar...|Studio apartment ...|This unit is loca...|     null|        1|       2|     USD| No|Thumbnail|   Cats,Dogs| 1250|       $1,250|   Monthly|        435|7428 N Charleston...|     Portland|   OR| 45.5091|-122.6449|RentLingo|1577359943|
+----------+--------------------+--------------------+--------------------+---------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+--------------------+-------------+-----+--------+---------+---------+----------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- category: string (nullable = true)
 |-- title: string (nullable = true)
 |-- body: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- fee: string (nullable = true)
 |-- has_photo: string (nullable = true)
 |-- pets_allowed: string (nullable = true)
 |-- price: string (nullable = true)
 |-- price_display: string (nullable = true)
 |-- price_type: string (nullable = true)
 |-- square_feet: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- cityname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- source: string (nullable = true)
 |-- time: integer (nullable = true)

In [7]:
from pyspark.sql.types import FloatType

columns_to_convert = ["bathrooms", "bedrooms", "latitude", "longitude"]  # Substitua pelos nomes das colunas

for column in columns_to_convert:
    df = df.withColumn(column, col(column).cast(FloatType()))

df.printSchema()

root
 |-- id: long (nullable = true)
 |-- category: string (nullable = true)
 |-- title: string (nullable = true)
 |-- body: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- bathrooms: float (nullable = true)
 |-- bedrooms: float (nullable = true)
 |-- currency: string (nullable = true)
 |-- fee: string (nullable = true)
 |-- has_photo: string (nullable = true)
 |-- pets_allowed: string (nullable = true)
 |-- price: string (nullable = true)
 |-- price_display: string (nullable = true)
 |-- price_type: string (nullable = true)
 |-- square_feet: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- cityname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- source: string (nullable = true)
 |-- time: integer (nullable = true)

In [8]:
df = df.dropDuplicates(['id'])
df = df.filter(df['category'] == 'housing/rent/apartment')
df = df.filter(df['price_type'] == 'Monthly')

In [9]:
df.count()

99844

In [10]:
from pyspark.sql.functions import col, when
cities_to_keep = ['Dallas', 'Denver', 'Los Angeles', 'Las Vegas', 'Arlington', 'Atlanta', 'Charlotte']

df = df.withColumn(
    'cityname_transformed',
    when(col('cityname').isin(cities_to_keep), col('cityname')).otherwise('Other')
)

df.show()

+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+
|        id|            category|               title|                body|           amenities|bathrooms|bedrooms|currency|fee|has_photo|pets_allowed|price|price_display|price_type|square_feet|address|      cityname|state|latitude|longitude|      source|      time|cityname_transformed|
+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+
|5121046702|housing/rent/apar...|Apartment in move...|If you are lookin...|                Pool|      1.0|     2.0|     USD| No|      Yes|        null|  910|         $910|   Monthly|        900|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174477|               Other|
|5121046904|housing/rent/apar...|Average Rent $999...|Square footage: 5...|Cable or Satellit...|      1.0|     2.0|     USD| No|      Yes|   Cats,Dogs|  999|         $999|   Monthly|        588|   null|       Atlanta|   GA| 33.9407| -84.3184|RentDigs.com|1544174502|             Atlanta|
|5121048804|housing/rent/apar...|Orange Park, prim...|Apartment for ren...|AC,Clubhouse,Pool...|      1.0|     1.0|     USD| No|      Yes|        None|  800|         $800|   Monthly|        722|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174674|               Other|
|5121049457|housing/rent/apar...|Amazing One BR, O...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|  935|         $935|   Monthly|        700|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174718|               Other|
|5121050896|housing/rent/apar...|Move-in condition...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|  875|         $875|   Monthly|        700|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174818|               Other|
|5121051413|housing/rent/apar...|Amazing Two BR, T...|Square footage: 1...|Fireplace,Patio/Deck|      2.0|     2.0|     USD| No|      Yes|        null| 1163|       $1,163|   Monthly|       1155|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174856|               Other|
|5121051600|housing/rent/apar...|Charming Two BR, ...|If you are lookin...|                Pool|      1.0|     2.0|     USD| No|      Yes|        null|  925|         $925|   Monthly|        900|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174867|               Other|
|5121053008|housing/rent/apar...|Atlanta Luxurious...|Refined design fi...|    Gym,Parking,Pool|      2.0|     3.0|     USD| No|      Yes|   Cats,Dogs| 2493|       $2,493|   Monthly|       1193|   null|       Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544174991|             Atlanta|
|5121054112|housing/rent/apar...|Lease Spacious 2+...|Situated just nor...|Cable or Satellit...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs|  959|         $959|   Monthly|        847|   null|       Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175097|               Other|
|5121054387|housing/rent/apar...|Move-in condition...|Situated in Ralei...|    Gym,Pool,Storage|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs|  867|         $867|   Monthly|        689|   null|       Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175130|               Other|
|5121056122|housing/rent/apar...|Apartment only fo...|Square footage: 1...|Clubhouse,Gym,Par...|      2.0|     2.0|     USD| No|      Yes|        null| 1250|       $1,250|   Monthly|       1365|   null|      Veradale|   WA| 47.6435|-117.1977|RentDigs.com|1544175273|               Other|
|5121060062|housing/rent/apar...|Two BR Apartment ...|Square footage: 1...|            Gym,Pool|      2.0|     2.0|     USD| No|      Yes|        Cats| 2155|       $2,155|   Monthly|       1117|   null|       Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544175508|             Atlanta|
|5121063142|housing/rent/apar...|Prominence Apartm...|Come home to exqu...|Clubhouse,Gym,Par...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs| 1345|       $1,345|   Monthly|       1101|   null|         Yulee|   FL| 30.6637| -81.6364|RentDigs.com|1544175754|               Other|
|5121065284|housing/rent/apar...|Yulee, prime loca...|Square footage: 8...|             Parking|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs| 1052|       $1,052|   Monthly|        879|   null|         Yulee|   FL| 30.6637| -81.6364|RentDigs.com|1544175921|               Other|
|5121065607|housing/rent/apar...|Welcome to Fairwa...|Located just off ...|Elevator,Patio/De...|      3.5|     4.0|     USD| No|      Yes|   Cats,Dogs| 4595|       $4,595|   Monthly|       2160|   null|      Carlsbad|   CA|  33.097|-117.2697|RentDigs.com|1544175942|               Other|
|5121066093|housing/rent/apar...|One BR Apartment ...|Or the convenienc...|AC,Cable or Satel...|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs|  820|         $820|   Monthly|        719|   null|Spokane Valley|   WA| 47.6546|-117.2743|RentDigs.com|1544175979|               Other|
|5121067208|housing/rent/apar...|Apartment in quie...|Square footage: 1...|  Parking,Playground|      2.0|     2.0|     USD| No|      Yes|        null| 1179|       $1,179|   Monthly|       1230|   null|       Atlanta|   GA| 33.9013| -84.3058|RentDigs.com|1544176061|             Atlanta|
|5121069241|housing/rent/apar...|Super Cute! Apart...|Up-to-date Montav...|Dishwasher,Parkin...|      1.0|     2.0|     USD| No|      Yes|        None| 1399|       $1,399|   Monthly|        850|   null|      Portland|   OR| 45.5152|-122.5993|RentDigs.com|1544176206|               Other|
|5121072309|housing/rent/apar...|Pet Friendly 2+2 ...|Square footage: 1...|AC,Cable or Satel...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs| 1175|       $1,175|   Monthly|       1100|   null|       Atlanta|   GA| 33.9013| -84.3058|RentDigs.com|1544176463|             Atlanta|
|5121072381|housing/rent/apar...|One BR Apartment ...|Square footage: 7...|Cable or Satellit...|      1.0|     1.0|     USD| No|      Yes|        null| 2019|       $2,019|   Monthly|        789|   null|       Houston|   TX| 29.7427| -95.3913|RentDigs.com|1544176471|               Other|
+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import when, col

df = df.withColumn(
    "pets_allowed_transformed",
    when(col("pets_allowed").isin("Cats", "Dogs", "Cats,Dogs", "Cats,Dogs,None"), "Yes").otherwise("No"))

df.show(20)

+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+------------------------+
|        id|            category|               title|                body|           amenities|bathrooms|bedrooms|currency|fee|has_photo|pets_allowed|price|price_display|price_type|square_feet|address|      cityname|state|latitude|longitude|      source|      time|cityname_transformed|pets_allowed_transformed|
+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+------------------------+
|5121046702|housing/rent/apar...|Apartment in move...|If you are lookin...|                Pool|      1.0|     2.0|     USD| No|      Yes|        null|  910|         $910|   Monthly|        900|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174477|               Other|                      No|
|5121046904|housing/rent/apar...|Average Rent $999...|Square footage: 5...|Cable or Satellit...|      1.0|     2.0|     USD| No|      Yes|   Cats,Dogs|  999|         $999|   Monthly|        588|   null|       Atlanta|   GA| 33.9407| -84.3184|RentDigs.com|1544174502|             Atlanta|                     Yes|
|5121048804|housing/rent/apar...|Orange Park, prim...|Apartment for ren...|AC,Clubhouse,Pool...|      1.0|     1.0|     USD| No|      Yes|        None|  800|         $800|   Monthly|        722|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174674|               Other|                      No|
|5121049457|housing/rent/apar...|Amazing One BR, O...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|  935|         $935|   Monthly|        700|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174718|               Other|                      No|
|5121050896|housing/rent/apar...|Move-in condition...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|  875|         $875|   Monthly|        700|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174818|               Other|                      No|
|5121051413|housing/rent/apar...|Amazing Two BR, T...|Square footage: 1...|Fireplace,Patio/Deck|      2.0|     2.0|     USD| No|      Yes|        null| 1163|       $1,163|   Monthly|       1155|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174856|               Other|                      No|
|5121051600|housing/rent/apar...|Charming Two BR, ...|If you are lookin...|                Pool|      1.0|     2.0|     USD| No|      Yes|        null|  925|         $925|   Monthly|        900|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174867|               Other|                      No|
|5121053008|housing/rent/apar...|Atlanta Luxurious...|Refined design fi...|    Gym,Parking,Pool|      2.0|     3.0|     USD| No|      Yes|   Cats,Dogs| 2493|       $2,493|   Monthly|       1193|   null|       Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544174991|             Atlanta|                     Yes|
|5121054112|housing/rent/apar...|Lease Spacious 2+...|Situated just nor...|Cable or Satellit...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs|  959|         $959|   Monthly|        847|   null|       Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175097|               Other|                     Yes|
|5121054387|housing/rent/apar...|Move-in condition...|Situated in Ralei...|    Gym,Pool,Storage|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs|  867|         $867|   Monthly|        689|   null|       Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175130|               Other|                     Yes|
|5121056122|housing/rent/apar...|Apartment only fo...|Square footage: 1...|Clubhouse,Gym,Par...|      2.0|     2.0|     USD| No|      Yes|        null| 1250|       $1,250|   Monthly|       1365|   null|      Veradale|   WA| 47.6435|-117.1977|RentDigs.com|1544175273|               Other|                      No|
|5121060062|housing/rent/apar...|Two BR Apartment ...|Square footage: 1...|            Gym,Pool|      2.0|     2.0|     USD| No|      Yes|        Cats| 2155|       $2,155|   Monthly|       1117|   null|       Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544175508|             Atlanta|                     Yes|
|5121063142|housing/rent/apar...|Prominence Apartm...|Come home to exqu...|Clubhouse,Gym,Par...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs| 1345|       $1,345|   Monthly|       1101|   null|         Yulee|   FL| 30.6637| -81.6364|RentDigs.com|1544175754|               Other|                     Yes|
|5121065284|housing/rent/apar...|Yulee, prime loca...|Square footage: 8...|             Parking|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs| 1052|       $1,052|   Monthly|        879|   null|         Yulee|   FL| 30.6637| -81.6364|RentDigs.com|1544175921|               Other|                     Yes|
|5121065607|housing/rent/apar...|Welcome to Fairwa...|Located just off ...|Elevator,Patio/De...|      3.5|     4.0|     USD| No|      Yes|   Cats,Dogs| 4595|       $4,595|   Monthly|       2160|   null|      Carlsbad|   CA|  33.097|-117.2697|RentDigs.com|1544175942|               Other|                     Yes|
|5121066093|housing/rent/apar...|One BR Apartment ...|Or the convenienc...|AC,Cable or Satel...|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs|  820|         $820|   Monthly|        719|   null|Spokane Valley|   WA| 47.6546|-117.2743|RentDigs.com|1544175979|               Other|                     Yes|
|5121067208|housing/rent/apar...|Apartment in quie...|Square footage: 1...|  Parking,Playground|      2.0|     2.0|     USD| No|      Yes|        null| 1179|       $1,179|   Monthly|       1230|   null|       Atlanta|   GA| 33.9013| -84.3058|RentDigs.com|1544176061|             Atlanta|                      No|
|5121069241|housing/rent/apar...|Super Cute! Apart...|Up-to-date Montav...|Dishwasher,Parkin...|      1.0|     2.0|     USD| No|      Yes|        None| 1399|       $1,399|   Monthly|        850|   null|      Portland|   OR| 45.5152|-122.5993|RentDigs.com|1544176206|               Other|                      No|
|5121072309|housing/rent/apar...|Pet Friendly 2+2 ...|Square footage: 1...|AC,Cable or Satel...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs| 1175|       $1,175|   Monthly|       1100|   null|       Atlanta|   GA| 33.9013| -84.3058|RentDigs.com|1544176463|             Atlanta|                     Yes|
|5121072381|housing/rent/apar...|One BR Apartment ...|Square footage: 7...|Cable or Satellit...|      1.0|     1.0|     USD| No|      Yes|        null| 2019|       $2,019|   Monthly|        789|   null|       Houston|   TX| 29.7427| -95.3913|RentDigs.com|1544176471|               Other|                      No|
+----------+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-----+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+------------------------+
only showing top 20 rows

In [12]:
df = df.withColumn(
    "has_photo_transformed",
    when(col("has_photo").isin("Yes", "Thumbnail"), "Yes").otherwise("No"))

In [13]:
df = df.fillna({"bathrooms": 0})
df = df.fillna({"bedrooms": 0})
df = df.dropna(subset=['price'])

In [14]:
df.select("bedrooms").distinct().show()
df.select("bathrooms").distinct().show()

+--------+
|bedrooms|
+--------+
|     9.0|
|     5.0|
|     7.0|
|     2.0|
|     3.0|
|     1.0|
|     6.0|
|     8.0|
|     4.0|
|     0.0|
+--------+

+---------+
|bathrooms|
+---------+
|      9.0|
|      5.0|
|      5.5|
|      2.5|
|      8.5|
|      7.0|
|      2.0|
|      3.0|
|      7.5|
|      1.5|
|      3.5|
|      1.0|
|      6.0|
|      8.0|
|      4.5|
|      4.0|
|      0.0|
+---------+

In [15]:
df_amenities = df.select('id', 'amenities', 'price')

display(df_amenities.show())

+----------+--------------------+-----+
|        id|           amenities|price|
+----------+--------------------+-----+
|5121046540|Cable or Satellit...| 1693|
|5121046702|                Pool|  910|
|5121046904|Cable or Satellit...|  999|
|5121047089|Fireplace,Patio/Deck|  808|
|5121047938|Fireplace,Patio/Deck| 1003|
|5121048112|Clubhouse,Gym,Int...| 1225|
|5121048460|Doorman,Gym,Parki...|11250|
|5121048804|AC,Clubhouse,Pool...|  800|
|5121048827|Cable or Satellit...| 1388|
|5121049457|                Pool|  935|
|5121050896|                Pool|  875|
|5121051413|Fireplace,Patio/Deck| 1163|
|5121051600|                Pool|  925|
|5121052248|                null| 2395|
|5121052344|   Fireplace,Storage| 1600|
|5121053008|    Gym,Parking,Pool| 2493|
|5121054112|Cable or Satellit...|  959|
|5121054159|Gym,Patio/Deck,Po...| 1587|
|5121054387|    Gym,Pool,Storage|  867|
|5121055139|Clubhouse,Gym,Poo...| 1425|
+----------+--------------------+-----+
only showing top 20 rows

None

In [16]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col

df_amenities = df_amenities.withColumn('amenities', F.when(F.col('amenities') == 'null', 'None').otherwise(F.col('amenities')))

In [17]:
df_amenities = df_amenities.withColumn('amenities', F.explode(F.split(F.col('amenities'), ',')))

display(df_amenities.show())

+----------+------------------+-----+
|        id|         amenities|price|
+----------+------------------+-----+
|5121046540|Cable or Satellite| 1693|
|5121046540|          Elevator| 1693|
|5121046540|               Gym| 1693|
|5121046540|   Internet Access| 1693|
|5121046540|           Parking| 1693|
|5121046540|                TV| 1693|
|5121046702|              Pool|  910|
|5121046904|Cable or Satellite|  999|
|5121046904|        Dishwasher|  999|
|5121046904|             Gated|  999|
|5121046904|               Gym|  999|
|5121046904|           Parking|  999|
|5121046904|        Patio/Deck|  999|
|5121046904|        Playground|  999|
|5121046904|              Pool|  999|
|5121046904|      Refrigerator|  999|
|5121046904|           Storage|  999|
|5121046904|            Tennis|  999|
|5121046904|      Washer Dryer|  999|
|5121047089|         Fireplace|  808|
+----------+------------------+-----+
only showing top 20 rows

None

In [18]:
df_amenities.select('amenities').distinct().toPandas()

pivot_amenities = df_amenities.groupBy("id", "price").pivot("amenities").agg(F.lit(1)).na.fill(0)

pivot_amenities = pivot_amenities.drop('None')

display(pivot_amenities.show())

+----------+-----+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
|        id|price| AC|Alarm|Basketball|Cable or Satellite|Clubhouse|Dishwasher|Doorman|Elevator|Fireplace|Garbage Disposal|Gated|Golf|Gym|Hot Tub|Internet Access|Luxury|Parking|Patio/Deck|Playground|Pool|Refrigerator|Storage| TV|Tennis|View|Washer Dryer|Wood Floors|
+----------+-----+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
|5121046540| 1693|  0|    0|         0|                 1|        0|         0|      0|       1|        0|               0|    0|   0|  1|      0|              1|     0|      1|         0|         0|   0|           0|      0|  1|     0|   0|           0|          0|
|5121046702|  910|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121046904|  999|  0|    0|         0|                 1|        0|         1|      0|       0|        0|               0|    1|   0|  1|      0|              0|     0|      1|         1|         1|   1|           1|      1|  0|     1|   0|           1|          0|
|5121047089|  808|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121047938| 1003|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121048112| 1225|  0|    0|         0|                 0|        1|         0|      0|       0|        0|               0|    0|   0|  1|      0|              1|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121048460|11250|  0|    0|         0|                 0|        0|         0|      1|       0|        0|               0|    0|   0|  1|      0|              0|     0|      1|         1|         0|   0|           0|      1|  0|     0|   0|           1|          0|
|5121048804|  800|  1|    0|         0|                 0|        1|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           1|      0|  0|     0|   0|           0|          0|
|5121048827| 1388|  0|    0|         0|                 1|        0|         0|      0|       1|        0|               0|    0|   0|  1|      0|              1|     0|      1|         0|         0|   0|           0|      0|  1|     0|   0|           0|          0|
|5121049457|  935|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121050896|  875|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121051413| 1163|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121051600|  925|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121052248| 2395|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121052344| 1600|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      1|  0|     0|   0|           0|          0|
|5121053008| 2493|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      1|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121054112|  959|  0|    0|         0|                 1|        0|         1|      0|       0|        1|               0|    0|   0|  0|      0|              1|     0|      0|         1|         1|   1|           0|      0|  0|     1|   0|           1|          0|
|5121054159| 1587|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         1|         0|   1|           0|      0|  0|     0|   0|           1|          1|
|5121054387|  867|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   1|           0|      1|  0|     0|   0|           0|          0|
|5121055139| 1425|  0|    0|         0|                 0|        1|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     1|   0|           1|          0|
+----------+-----+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
only showing top 20 rows

None

In [19]:
df_join = df.join(pivot_amenities, ['id', 'price'], "right")

display(df_join.show())

+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+-----------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
|        id|price|            category|               title|                body|           amenities|bathrooms|bedrooms|currency|fee|has_photo|pets_allowed|price_display|price_type|square_feet|address|   cityname|state|latitude|longitude|      source|      time|cityname_transformed|pets_allowed_transformed|has_photo_transformed| AC|Alarm|Basketball|Cable or Satellite|Clubhouse|Dishwasher|Doorman|Elevator|Fireplace|Garbage Disposal|Gated|Golf|Gym|Hot Tub|Internet Access|Luxury|Parking|Patio/Deck|Playground|Pool|Refrigerator|Storage| TV|Tennis|View|Washer Dryer|Wood Floors|
+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+-----------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
|5121047089|  808|housing/rent/apar...|Orange Park - con...|For an abundance ...|Fireplace,Patio/Deck|      1.0|     1.0|     USD| No|      Yes|        null|         $808|   Monthly|        840|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174523|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121047251|  998|housing/rent/apar...|Apartment in move...|For an abundance ...|Fireplace,Patio/Deck|      2.0|     2.0|     USD| No|      Yes|        null|         $998|   Monthly|       1078|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174542|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121048300| 3670|housing/rent/apar...|Outstanding Oppor...|Price from: $3670...|      Gym,Patio/Deck|      1.0|     2.0|     USD| No|      Yes|        null|       $3,670|   Monthly|        691|   null|   New York|   NY| 40.7247| -73.9545|RentDigs.com|1544174624|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121048804|  800|housing/rent/apar...|Orange Park, prim...|Apartment for ren...|AC,Clubhouse,Pool...|      1.0|     1.0|     USD| No|      Yes|        None|         $800|   Monthly|        722|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174674|               Other|                      No|                  Yes|  1|    0|         0|                 0|        1|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           1|      0|  0|     0|   0|           0|          0|
|5121049756|  982|housing/rent/apar...|Apartment in grea...|Welcome to a whol...|    Gym,Washer Dryer|      2.0|     2.0|     USD| No|      Yes|        null|         $982|   Monthly|       1091|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174743|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          0|
|5121050323| 1267|housing/rent/apar...|Apartment in prim...|Square footage: 1...|Fireplace,Patio/Deck|      2.0|     3.0|     USD| No|      Yes|        null|       $1,267|   Monthly|       1314|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174786|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121051818| 1000|housing/rent/apar...|Apartment - 1,100...|With premier loca...|          Gym,Tennis|      2.0|     2.0|     USD| No|      Yes|        null|       $1,000|   Monthly|       1100|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174883|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     1|   0|           0|          0|
|5121052201|  850|housing/rent/apar...|Raleigh - 2bd/One...|Square footage: 7...|        Washer Dryer|      1.0|     2.0|     USD| No|      Yes|        null|         $850|   Monthly|        754|   null|    Raleigh|   NC| 35.7628| -78.5834|RentDigs.com|1544174918|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          0|
|5121052270| 1650|housing/rent/apar...|Move-in condition...|Walton River luxu...|        Pool,Storage|      2.0|     3.0|     USD| No|      Yes|   Cats,Dogs|       $1,650|   Monthly|       1435|   null|    Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544174924|             Atlanta|                     Yes|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      1|  0|     0|   0|           0|          0|
|5121052344| 1600|housing/rent/apar...|One BR Apartment ...|Spacious 1 beds -...|   Fireplace,Storage|      1.0|     1.0|     USD| No|      Yes|        null|       $1,600|   Monthly|        800|   null|   Portland|   OR| 45.5676|-122.6425|RentDigs.com|1544174929|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      1|  0|     0|   0|           0|          0|
|5121053339|  935|housing/rent/apar...|$935/mo, Raleigh,...|welcomes you! Our...|Gym,Pool,Washer D...|      1.0|     2.0|     USD| No|      Yes|        null|         $935|   Monthly|        621|   null|    Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175020|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           1|          0|
|5121053616| 1195|housing/rent/apar...|Experience your n...|North Williams an...|Refrigerator,Wood...|      1.0|     1.0|     USD| No|      Yes|        null|       $1,195|   Monthly|        625|   null|   Portland|   OR| 45.5676|-122.6425|RentDigs.com|1544175048|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           1|      0|  0|     0|   0|           0|          1|
|5121046506| 1255|housing/rent/apar...|Orange Park Luxur...|With premier loca...|          Gym,Tennis|      2.0|     3.0|     USD| No|      Yes|        null|       $1,255|   Monthly|       1400|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174455|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     1|   0|           0|          0|
|5121047894| 1095|housing/rent/apar...|Apartment in grea...|Square footage: 7...|Fireplace,Gym,Par...|      1.0|     1.0|     USD| No|      Yes|        null|       $1,095|   Monthly|        783|   null|    Atlanta|   GA| 33.9407| -84.3184|RentDigs.com|1544174587|             Atlanta|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  1|      0|              0|     0|      1|         1|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121048165| 3805|housing/rent/apar...|Bright New York C...|Price from: $3805...|                null|      1.0|     1.0|     USD| No|      Yes|        null|       $3,805|   Monthly|        525|   null|   New York|   NY| 40.7247| -73.9545|RentDigs.com|1544174613|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121048250| 3775|housing/rent/apar...|Apartment for ren...|Western Exposure....|AC,Dishwasher,Gym...|      1.0|     2.0|     USD| No|      Yes|        null|       $3,775|   Monthly|        434|   null|   New York|   NY| 40.7247| -73.9545|RentDigs.com|1544174620|               Other|                      No|                  Yes|  1|    0|         0|                 0|        0|         1|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          1|
|5121049434| 1399|housing/rent/apar...|Two BR Apartment ...|Square footage: 1...|Gym,Internet Acce...|      2.0|     2.0|     USD| No|      Yes|        null|       $1,399|   Monthly|       1214|   null|    Atlanta|   GA| 33.9407| -84.3184|RentDigs.com|1544174716|             Atlanta|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              1|     0|      1|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121049457|  935|housing/rent/apar...|Amazing One BR, O...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|         $935|   Monthly|        700|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174718|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121050375|  850|housing/rent/apar...|The Best of the B...|Square footage: 7...|        Washer Dryer|      1.0|     2.0|     USD| No|      Yes|        null|         $850|   Monthly|        754|   null|    Raleigh|   NC| 35.7628| -78.5834|RentDigs.com|1544174788|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          0|
|5121050646| 1008|housing/rent/apar...|Super Cute! Apart...|For an abundance ...|Fireplace,Patio/Deck|      2.0|     2.0|     USD| No|      Yes|        null|       $1,008|   Monthly|       1078|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174804|               Other|                      No|                  Yes|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+-----------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
only showing top 20 rows

None

In [20]:
from pyspark.sql.window import Window

df_classes = df_join.select('id','price').orderBy('price',ascending=True)

mediana = df_classes.count()/2

X = Window.orderBy('price')

df_classes = df_classes.withColumn('row_num', F.row_number().over(X))

df_classes = df_classes.withColumn(
    "class", 
    F.when(df_classes["row_num"] <= mediana, F.lit('B')).otherwise(F.lit('A'))
).drop("row_num")

In [22]:
df_join = df.join(df_classes, ['id', 'price'], "left")

display(df.count())

df = df_join.withColumnRenamed('class', 'price_class')

display(df.show())

99844

+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+-----------+
|        id|price|            category|               title|                body|           amenities|bathrooms|bedrooms|currency|fee|has_photo|pets_allowed|price_display|price_type|square_feet|address|      cityname|state|latitude|longitude|      source|      time|cityname_transformed|pets_allowed_transformed|has_photo_transformed|price_class|
+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+-----------+
|5121069241| 1399|housing/rent/apar...|Super Cute! Apart...|Up-to-date Montav...|Dishwasher,Parkin...|      1.0|     2.0|     USD| No|      Yes|        None|       $1,399|   Monthly|        850|   null|      Portland|   OR| 45.5152|-122.5993|RentDigs.com|1544176206|               Other|                      No|                  Yes|          B|
|5121072381| 2019|housing/rent/apar...|One BR Apartment ...|Square footage: 7...|Cable or Satellit...|      1.0|     1.0|     USD| No|      Yes|        null|       $2,019|   Monthly|        789|   null|       Houston|   TX| 29.7427| -95.3913|RentDigs.com|1544176471|               Other|                      No|                  Yes|          A|
|5121048804|  800|housing/rent/apar...|Orange Park, prim...|Apartment for ren...|AC,Clubhouse,Pool...|      1.0|     1.0|     USD| No|      Yes|        None|         $800|   Monthly|        722|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174674|               Other|                      No|                  Yes|          A|
|5121066093|  820|housing/rent/apar...|One BR Apartment ...|Or the convenienc...|AC,Cable or Satel...|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs|         $820|   Monthly|        719|   null|Spokane Valley|   WA| 47.6546|-117.2743|RentDigs.com|1544175979|               Other|                     Yes|                  Yes|          A|
|5121049457|  935|housing/rent/apar...|Amazing One BR, O...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|         $935|   Monthly|        700|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174718|               Other|                      No|                  Yes|          A|
|5121051600|  925|housing/rent/apar...|Charming Two BR, ...|If you are lookin...|                Pool|      1.0|     2.0|     USD| No|      Yes|        null|         $925|   Monthly|        900|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174867|               Other|                      No|                  Yes|          A|
|5121060062| 2155|housing/rent/apar...|Two BR Apartment ...|Square footage: 1...|            Gym,Pool|      2.0|     2.0|     USD| No|      Yes|        Cats|       $2,155|   Monthly|       1117|   null|       Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544175508|             Atlanta|                     Yes|                  Yes|          A|
|5121046702|  910|housing/rent/apar...|Apartment in move...|If you are lookin...|                Pool|      1.0|     2.0|     USD| No|      Yes|        null|         $910|   Monthly|        900|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174477|               Other|                      No|                  Yes|          A|
|5121065284| 1052|housing/rent/apar...|Yulee, prime loca...|Square footage: 8...|             Parking|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs|       $1,052|   Monthly|        879|   null|         Yulee|   FL| 30.6637| -81.6364|RentDigs.com|1544175921|               Other|                     Yes|                  Yes|          B|
|5121053008| 2493|housing/rent/apar...|Atlanta Luxurious...|Refined design fi...|    Gym,Parking,Pool|      2.0|     3.0|     USD| No|      Yes|   Cats,Dogs|       $2,493|   Monthly|       1193|   null|       Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544174991|             Atlanta|                     Yes|                  Yes|          A|
|5121046904|  999|housing/rent/apar...|Average Rent $999...|Square footage: 5...|Cable or Satellit...|      1.0|     2.0|     USD| No|      Yes|   Cats,Dogs|         $999|   Monthly|        588|   null|       Atlanta|   GA| 33.9407| -84.3184|RentDigs.com|1544174502|             Atlanta|                     Yes|                  Yes|          A|
|5121056122| 1250|housing/rent/apar...|Apartment only fo...|Square footage: 1...|Clubhouse,Gym,Par...|      2.0|     2.0|     USD| No|      Yes|        null|       $1,250|   Monthly|       1365|   null|      Veradale|   WA| 47.6435|-117.1977|RentDigs.com|1544175273|               Other|                      No|                  Yes|          B|
|5121050896|  875|housing/rent/apar...|Move-in condition...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|         $875|   Monthly|        700|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174818|               Other|                      No|                  Yes|          A|
|5121073950| 1148|housing/rent/apar...|Apartment in grea...|Welcome home to C...|Internet Access,P...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs|       $1,148|   Monthly|       1186|   null|       Raleigh|   NC| 35.8079| -78.6466|RentDigs.com|1544176610|               Other|                     Yes|                  Yes|          B|
|5121054112|  959|housing/rent/apar...|Lease Spacious 2+...|Situated just nor...|Cable or Satellit...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs|         $959|   Monthly|        847|   null|       Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175097|               Other|                     Yes|                  Yes|          A|
|5121054387|  867|housing/rent/apar...|Move-in condition...|Situated in Ralei...|    Gym,Pool,Storage|      1.0|     1.0|     USD| No|      Yes|   Cats,Dogs|         $867|   Monthly|        689|   null|       Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175130|               Other|                     Yes|                  Yes|          A|
|5121065607| 4595|housing/rent/apar...|Welcome to Fairwa...|Located just off ...|Elevator,Patio/De...|      3.5|     4.0|     USD| No|      Yes|   Cats,Dogs|       $4,595|   Monthly|       2160|   null|      Carlsbad|   CA|  33.097|-117.2697|RentDigs.com|1544175942|               Other|                     Yes|                  Yes|          A|
|5121051413| 1163|housing/rent/apar...|Amazing Two BR, T...|Square footage: 1...|Fireplace,Patio/Deck|      2.0|     2.0|     USD| No|      Yes|        null|       $1,163|   Monthly|       1155|   null|   Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174856|               Other|                      No|                  Yes|          B|
|5121063142| 1345|housing/rent/apar...|Prominence Apartm...|Come home to exqu...|Clubhouse,Gym,Par...|      2.0|     2.0|     USD| No|      Yes|   Cats,Dogs|       $1,345|   Monthly|       1101|   null|         Yulee|   FL| 30.6637| -81.6364|RentDigs.com|1544175754|               Other|                     Yes|                  Yes|          B|
|5121067208| 1179|housing/rent/apar...|Apartment in quie...|Square footage: 1...|  Parking,Playground|      2.0|     2.0|     USD| No|      Yes|        null|       $1,179|   Monthly|       1230|   null|       Atlanta|   GA| 33.9013| -84.3058|RentDigs.com|1544176061|             Atlanta|                      No|                  Yes|          B|
+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+--------------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+-----------+
only showing top 20 rows

None

In [23]:
df = df.join(pivot_amenities, ['id', 'price'], "right")

display(df.show())

+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+-----------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+-----------+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
|        id|price|            category|               title|                body|           amenities|bathrooms|bedrooms|currency|fee|has_photo|pets_allowed|price_display|price_type|square_feet|address|   cityname|state|latitude|longitude|      source|      time|cityname_transformed|pets_allowed_transformed|has_photo_transformed|price_class| AC|Alarm|Basketball|Cable or Satellite|Clubhouse|Dishwasher|Doorman|Elevator|Fireplace|Garbage Disposal|Gated|Golf|Gym|Hot Tub|Internet Access|Luxury|Parking|Patio/Deck|Playground|Pool|Refrigerator|Storage| TV|Tennis|View|Washer Dryer|Wood Floors|
+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+-----------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+-----------+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
|5121047089|  808|housing/rent/apar...|Orange Park - con...|For an abundance ...|Fireplace,Patio/Deck|      1.0|     1.0|     USD| No|      Yes|        null|         $808|   Monthly|        840|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174523|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121047251|  998|housing/rent/apar...|Apartment in move...|For an abundance ...|Fireplace,Patio/Deck|      2.0|     2.0|     USD| No|      Yes|        null|         $998|   Monthly|       1078|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174542|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121048300| 3670|housing/rent/apar...|Outstanding Oppor...|Price from: $3670...|      Gym,Patio/Deck|      1.0|     2.0|     USD| No|      Yes|        null|       $3,670|   Monthly|        691|   null|   New York|   NY| 40.7247| -73.9545|RentDigs.com|1544174624|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121048804|  800|housing/rent/apar...|Orange Park, prim...|Apartment for ren...|AC,Clubhouse,Pool...|      1.0|     1.0|     USD| No|      Yes|        None|         $800|   Monthly|        722|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174674|               Other|                      No|                  Yes|          A|  1|    0|         0|                 0|        1|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           1|      0|  0|     0|   0|           0|          0|
|5121049756|  982|housing/rent/apar...|Apartment in grea...|Welcome to a whol...|    Gym,Washer Dryer|      2.0|     2.0|     USD| No|      Yes|        null|         $982|   Monthly|       1091|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174743|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          0|
|5121050323| 1267|housing/rent/apar...|Apartment in prim...|Square footage: 1...|Fireplace,Patio/Deck|      2.0|     3.0|     USD| No|      Yes|        null|       $1,267|   Monthly|       1314|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174786|               Other|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121051818| 1000|housing/rent/apar...|Apartment - 1,100...|With premier loca...|          Gym,Tennis|      2.0|     2.0|     USD| No|      Yes|        null|       $1,000|   Monthly|       1100|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174883|               Other|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     1|   0|           0|          0|
|5121052201|  850|housing/rent/apar...|Raleigh - 2bd/One...|Square footage: 7...|        Washer Dryer|      1.0|     2.0|     USD| No|      Yes|        null|         $850|   Monthly|        754|   null|    Raleigh|   NC| 35.7628| -78.5834|RentDigs.com|1544174918|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          0|
|5121052270| 1650|housing/rent/apar...|Move-in condition...|Walton River luxu...|        Pool,Storage|      2.0|     3.0|     USD| No|      Yes|   Cats,Dogs|       $1,650|   Monthly|       1435|   null|    Atlanta|   GA| 33.8622| -84.4704|RentDigs.com|1544174924|             Atlanta|                     Yes|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      1|  0|     0|   0|           0|          0|
|5121052344| 1600|housing/rent/apar...|One BR Apartment ...|Spacious 1 beds -...|   Fireplace,Storage|      1.0|     1.0|     USD| No|      Yes|        null|       $1,600|   Monthly|        800|   null|   Portland|   OR| 45.5676|-122.6425|RentDigs.com|1544174929|               Other|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      1|  0|     0|   0|           0|          0|
|5121053339|  935|housing/rent/apar...|$935/mo, Raleigh,...|welcomes you! Our...|Gym,Pool,Washer D...|      1.0|     2.0|     USD| No|      Yes|        null|         $935|   Monthly|        621|   null|    Raleigh|   NC| 35.7488| -78.6369|RentDigs.com|1544175020|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           1|          0|
|5121053616| 1195|housing/rent/apar...|Experience your n...|North Williams an...|Refrigerator,Wood...|      1.0|     1.0|     USD| No|      Yes|        null|       $1,195|   Monthly|        625|   null|   Portland|   OR| 45.5676|-122.6425|RentDigs.com|1544175048|               Other|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           1|      0|  0|     0|   0|           0|          1|
|5121046506| 1255|housing/rent/apar...|Orange Park Luxur...|With premier loca...|          Gym,Tennis|      2.0|     3.0|     USD| No|      Yes|        null|       $1,255|   Monthly|       1400|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174455|               Other|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     1|   0|           0|          0|
|5121047894| 1095|housing/rent/apar...|Apartment in grea...|Square footage: 7...|Fireplace,Gym,Par...|      1.0|     1.0|     USD| No|      Yes|        null|       $1,095|   Monthly|        783|   null|    Atlanta|   GA| 33.9407| -84.3184|RentDigs.com|1544174587|             Atlanta|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  1|      0|              0|     0|      1|         1|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121048165| 3805|housing/rent/apar...|Bright New York C...|Price from: $3805...|                null|      1.0|     1.0|     USD| No|      Yes|        null|       $3,805|   Monthly|        525|   null|   New York|   NY| 40.7247| -73.9545|RentDigs.com|1544174613|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           0|          0|
|5121048250| 3775|housing/rent/apar...|Apartment for ren...|Western Exposure....|AC,Dishwasher,Gym...|      1.0|     2.0|     USD| No|      Yes|        null|       $3,775|   Monthly|        434|   null|   New York|   NY| 40.7247| -73.9545|RentDigs.com|1544174620|               Other|                      No|                  Yes|          A|  1|    0|         0|                 0|        0|         1|      0|       0|        0|               0|    0|   0|  1|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          1|
|5121049434| 1399|housing/rent/apar...|Two BR Apartment ...|Square footage: 1...|Gym,Internet Acce...|      2.0|     2.0|     USD| No|      Yes|        null|       $1,399|   Monthly|       1214|   null|    Atlanta|   GA| 33.9407| -84.3184|RentDigs.com|1544174716|             Atlanta|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  1|      0|              1|     0|      1|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121049457|  935|housing/rent/apar...|Amazing One BR, O...|If you are lookin...|                Pool|      1.0|     1.0|     USD| No|      Yes|        null|         $935|   Monthly|        700|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174718|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   1|           0|      0|  0|     0|   0|           0|          0|
|5121050375|  850|housing/rent/apar...|The Best of the B...|Square footage: 7...|        Washer Dryer|      1.0|     2.0|     USD| No|      Yes|        null|         $850|   Monthly|        754|   null|    Raleigh|   NC| 35.7628| -78.5834|RentDigs.com|1544174788|               Other|                      No|                  Yes|          A|  0|    0|         0|                 0|        0|         0|      0|       0|        0|               0|    0|   0|  0|      0|              0|     0|      0|         0|         0|   0|           0|      0|  0|     0|   0|           1|          0|
|5121050646| 1008|housing/rent/apar...|Super Cute! Apart...|For an abundance ...|Fireplace,Patio/Deck|      2.0|     2.0|     USD| No|      Yes|        null|       $1,008|   Monthly|       1078|   null|Orange Park|   FL| 30.1728| -81.7558|RentDigs.com|1544174804|               Other|                      No|                  Yes|          B|  0|    0|         0|                 0|        0|         0|      0|       0|        1|               0|    0|   0|  0|      0|              0|     0|      0|         1|         0|   0|           0|      0|  0|     0|   0|           0|          0|
+----------+-----+--------------------+--------------------+--------------------+--------------------+---------+--------+--------+---+---------+------------+-------------+----------+-----------+-------+-----------+-----+--------+---------+------------+----------+--------------------+------------------------+---------------------+-----------+---+-----+----------+------------------+---------+----------+-------+--------+---------+----------------+-----+----+---+-------+---------------+------+-------+----------+----------+----+------------+-------+---+------+----+------------+-----------+
only showing top 20 rows

None

In [ ]:
from pyspark.sql.functions import col

ids_to_remove = [5648708029, 5667488036]  # Altere com os IDs que deseja excluir

df = df.filter(~col('id').isin(ids_to_remove))

In [ ]:
df.to_csv(
    "C:/Users/afili/Desktop/Uni/Mestrado/AASE/apartments_for_rent_100k_final.csv", 
    sep=';', 
    index=False, 
    encoding='utf-8'
)